*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --font: cairo;
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Global Components */

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.main-title {
    width: fit-content;
    padding: 10px 20px;
    border: 2px solid black;
    font-size: 30px;
    color: black;
    margin: 0 auto 80px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}

.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}

.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    translate: 0 -50%;
    border: none;
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}


.main-title:hover::before {
    z-index: -1;
    animation: move-left 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: move-right 0.5s linear forwards;
}


.spikes {
    position: relative;
}

.spikes::before {
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    height: 30px;
    width: 100%;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px;
}

.spikes.gray::before {
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    height: 30px;
    width: 100%;
    background-image: linear-gradient(135deg, var(--section-background) 25%, transparent 25%), linear-gradient(225deg, var(--section-background) 25%, transparent 25%);
    background-size: 30px;
}

.dots {
    background-image: url(../Assets/dots.png);
    width: 186px;
    height: 204px;
    background-repeat: no-repeat;
    position: absolute;
}

.dots-up {
    top: 200px;
    right: 0;
}

.dots-down {
    bottom: 200px;
    left: 0;
}

/* Global Components */
/* Start of header */

header {
    background-color: white;
    position: relative;
    box-shadow: 0 0 10px #ddd;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

header .container .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    header .container .logo {
        width: 100%;
        height: 50px;
    }
}

header .container .main-nav {
    display: flex;
}

@media (max-width: 767px) {
    header .container nav {
        margin: auto;
    }
}

header .main-nav>li:hover .mega-menu {
    opacity: 1;
    z-index: 10;
    top: calc(100% + 1px);
}

header .main-nav>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 18px;
    height: 72px;
    position: relative;
    padding: 0 30px;
    overflow: hidden;
    transition: var(--main-transition);
}

@media (max-width: 767px) {
    header .main-nav>li>a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}

header .main-nav>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

header .main-nav>li>a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    transition: width var(--main-transition);
}

header .main-nav>li:hover>a::before {
    width: 100%;
}

header .main-nav .mega-menu {
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(100% + 50px);
    z-index: -1;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    display: flex;
    gap: 40px;
    transition: top var(--main-transition), opacity var(--main-transition);
}

@media (max-width: 767px) {
    header .main-nav .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}

header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width: 991px) {
    header .mega-menu .image {
        display: none;
    }
}

header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}

header .mega-menu .links li {
    position: relative;
}

header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

header .mega-menu .links li::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #fafafa;
    transition: var(--main-transition);
}

header .mega-menu .links li:hover::before {
    width: 100%;
}

header .mega-menu .links li a {
    display: block;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: var(--main-color);
}

header .mega-menu .links li a i {
    margin-right: 10px;
}

/* End of header */

/* Start of Landing */
main .landing {
    position: relative;
}

main .landing::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    transform: skewY(-6deg);
    transform-origin: top left;
}

main .landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
    min-height: calc(100vh - 72px);
}

main .landing .container .text {
    flex: 1;
}

@media (max-width: 991px) {
    main .landing .container .text {
        text-align: center;
    }
}

main .landing .container .text h1 {
    font-size: 40px;
    letter-spacing: -2px;
    margin: 0;
}

@media (max-width: 767px) {
    main .landing .container .text h1 {
        font-size: 28px;
    }
}

main .landing .container .text p {
    font-size: 26px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
}

@media (max-width: 991px) {
    main .landing .container .text p {
        margin: 10px auto;
    }
}

@media (max-width: 767px) {
    main .landing .container .text p {
        font-size: 18px;
    }
}

main .landing .container .landing-image img {
    position: relative;
    width: 600px;
    animation: up-down 5s linear infinite;
}

@media (max-width: 991px) {
    main .landing .container .landing-image {
        display: none;
    }
}


main .landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    translate: -50% 0;
    transition: var(--main-transition);
}

main .landing .go-down:hover {
    color: var(--main-color-alt);
}

main .landing .go-down i {
    animation: bounce 1.5s infinite;
}


/* End of Landing */

/* Strat of Articles */

main .articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

main .articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;

}

main .articles .container .card {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: translate var(--main-transition), box-shadow var(--main-transition);
}

main .articles .container .card:hover {
    translate: 0 -10px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

main .articles .container .card img {
    width: 100%;
    max-width: 100%;
}

main .articles .container .card .content {
    padding: 20px;
}

main .articles .container .card .content h3 {
    margin: 0;
    text-transform: capitalize;
}

main .articles .container .card .content p {
    color: #777;
    line-height: 1.7;
    margin: 10px 0 0;
}

main .articles .container .card .read-more {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e6e6e7;
}

main .articles .container .card .read-more a {
    color: var(--main-color);
    font-weight: bold;
    text-transform: capitalize;
}

main .articles .container .card .read-more i {
    color: var(--main-color);
}

main .articles .container .card:hover .read-more i {
    animation: moveR 0.5s linear infinite;
}

/* End of Articles */

/* Start of Gallery */

main .gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    position: relative;
}

main .gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

main .gallery .container .card {
    padding: 15px;
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}

main .gallery .container .card .image {
    position: relative;
    overflow: hidden;
}

main .gallery .container .card .image::before {
    content: "";
    background-color: rgb(255 255 255 / 20%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    translate: -50% -50%;
    width: 0;
    height: 0;
    opacity: 0;
}

main .gallery .container .card:hover .image::before {
    animation: flash 0.7s;
}

main .gallery .container .card img {
    max-width: 100%;
    transition: var(--main-transition);
}

main .gallery .container .card:hover img {
    rotate: 5deg;
    scale: 1.1;
}

/* End of Gallery */

/* Start of Feartures */
main .features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

main .features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

main .features .container .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
}

main .features .container .feature .image {
    position: relative;
    overflow: hidden;
}

main .features .container .feature .image::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

main .features .container .feature .image.red::before {
    background-color: #f44036aa;
}

main .features .container .feature .image.green::before {
    background-color: #009688aa;
}

main .features .container .feature .image.blue::before {
    background-color: #03a9f4aa;
}

main .features .container .feature .image::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: var(--main-transition);
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 0 0 170px 500px;
}

main .features .container .feature:hover .image::after {
    border-width: 0 500px 170px 0;
}


main .features .container .feature img {
    max-width: 100%;
}

main .features .container .feature h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
    text-transform: capitalize;
}

main .features .container .feature h2::before {
    content: "";
    width: 80%;
    height: 4px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    z-index: 1;
    translate: -50% 0;
    border-radius: 2px;
}

main .features .container .feature h2.red::before {
    background-color: #f44036aa;
}

main .features .container .feature h2.green::before {
    background-color: #009688aa;
}

main .features .container .feature h2.blue::before {
    background-color: #03a9f4aa;
}

main .features .container .feature p {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #ccc;
}

main .features .container .feature a {
    display: block;
    padding: 10px 30px;
    margin: 0 auto 30px;
    font-size: 22px;
    font-weight: bold;
    width: fit-content;
    border-radius: 6px;
    transition: var(--main-transition);
    text-transform: capitalize;
}


main .features .container .feature a.red {
    color: #f44036;
    border: 3px solid #f44036;
    background: linear-gradient(90deg, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

main .features .container .feature a.green {
    color: #009688;
    border: 3px solid #009688;
    background: linear-gradient(90deg, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

main .features .container .feature a.blue {
    color: #03a9f4;
    border: 3px solid #03a9f4;
    background: linear-gradient(90deg, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

main .features .container .feature:hover a {
    background-position: left bottom;
    color: white;
}

/* End of Feartures */

/* Start of Testimonials */

main .testimonials {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    position: relative;
}

main .testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

main .testimonials .container .testimonial {
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    padding: 20px;
    position: relative;
    border-radius: 6px;
}

main .testimonials .container .testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(--section-background);
    position: absolute;
    top: 0;
    right: 0;
    translate: 10% -50%;
}

main .testimonials .container .testimonial h3 {
    margin: 0 0 10px;
    text-transform: capitalize;
}

main .testimonials .container .testimonial span {
    display: block;
    color: #777;
    margin-bottom: 10px;
    text-transform: capitalize;
}

main .testimonials .container .testimonial i.filled {
    color: #ffc107;
}

main .testimonials .container .testimonial p {
    line-height: 1.7;
    color: #777;
    margin-top: 10px;
}

/* End of Testimonials */

/* Start of Team Members */

main .team {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

main .team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

main .team .container .member {
    position: relative;
}

main .team .container .member::before,
main .team .container .member::after {
    content: "";
    background-color: #f3f3f3;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-transition);
}

main .team .container .member::before {
    width: calc(100% - 60px);
    z-index: -2;
}

main .team .container .member::after {
    z-index: -1;
    background-color: #e4e4e4;
    width: 0;
}

main .team .container .member:hover::after {
    width: calc(100% - 60px);
}

main .team .container .member .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

main .team .container .member .data img {
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-transition);
}

main .team .container .member:hover .data img {
    filter: grayscale(100%);
}

main .team .container .member .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

main .team .container .member .social a {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .team .container .member .social a:hover:first-child i {
    color: #2374e1;
}

main .team .container .member .social a:hover:nth-child(2) i {
    color: #1d9bf0;
}

main .team .container .member .social a:hover:nth-child(3) i {
    color: #0a66c2;
}

main .team .container .member .social a:hover i {
    color: #ff0000;
}

main .team .container .member .social a i {
    color: #777;
    transition: var(--main-transition);
}

main .team .container .member .info {
    padding: 20px;
    margin-left: 60px;
}

main .team .container .member .info h3 {
    font-size: 22px;
    color: var(--main-color);
    text-transform: capitalize;
    margin-bottom: 0;
    transition: var(--main-transition);
}

main .team .container .member:hover .info h3 {
    color: #777;
}

main .team .container .member .info p {
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 25px;
}

/* End of Team Members */

/* Start of Services */

main .services {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

main .services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

main .services .container .service {
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: services;
    transition: var(--main-transition);
    position: relative;
}

main .services .container .service::before {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% 0;
    transition: var(--main-transition);
}

main .services .container .service:hover {
    translate: 0 -5%;
}

main .services .container .service:hover::before {
    width: 100%;
}

main .services .container .service .icon>i {
    display: block;
    color: #d5d5d5;
    text-align: center;
    margin: 30px auto 20px;
}

main .services .container .service .icon>h3 {
    color: var(--main-color);
    text-transform: capitalize;
    text-align: center;
    font-size: 25px;
    margin: 20 0 40px;
}

main .services .container .service .details {
    padding: 15px;
    text-align: right;
    background-color: #f9f9f9;
    position: relative;
}

main .services .container .service .details::before {
    content: "0" counter(services);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 80px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: white;
}

main .services .container .service .details::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 65px;
    height: 100%;
    width: 40px;
    transform: skewX(-30deg);
    background-color: #d5d5d5;
}

main .services .container .service .details a {
    text-transform: capitalize;
    color: var(--main-color);
}

/* End of Services */

/* Start of Our Skills */

main .our-skills {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

main .our-skills .container {
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    main .our-skills .container img {
        display: none;
    }
}

main .our-skills .container .skills {
    flex: 1;
    height: inherit;
}

main .our-skills .container .skills .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    margin: 15px auto;
}

main .our-skills .container .skills .skill h3 span {
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px 5px;
    color: var(--main-color);
}

main .our-skills .container .skills .skill .progress {
    height: 30px;
    background-color: #eee;
    position: relative;
}

main .our-skills .container .skills .progress span {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
}


/* End of Our Skills */

/* Start of How it works */

main .work {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    position: relative;
}

main .work .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 991px) {
    main .work .container {
        flex-direction: column;
    }
}

main .work .container .work-img {
    max-width: 100%;
    padding-right: 100px;
}

@media (max-width: 991px) {
    main .work .container .work-img {
        margin: 0 0 50px;
    }
}

main .work .container .sections {
    display: flex;
    flex-direction: column;
}

main .work .container .sections .section {
    background-color: #f6f5f5;
    border: 2px solid #fff;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 30px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

@media (max-width: 767px) {
    main .work .container .sections .section {
        text-align: center;
        flex-direction: column;
    }
}

main .work .container .sections .section::before {
    content: "";
    background-color: #ededed;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    translate: -50% -50%;
    width: 0;
    height: 0;
    transition: var(--main-transition);
}

main .work .container .sections .section:hover::before {
    width: 100%;
    height: 100%;
}

main .work .container .sections .section img {
    width: 64px;
    margin-right: 30px;
}

@media (max-width: 767px) {
    main .work .container .sections .section img {
        margin: 0 0 30px;
    }
}

main .work .container .sections .section .text h3 {
    margin: 0;
    font-size: 22px;
    text-transform: capitalize;
}

main .work .container .sections .section .text p {
    color: #777;
    line-height: 1.7;
    font-size: 18px;
    margin: 10px 0 0;
}

/* End of How it works */

/* Start of events */

main .events {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

main .events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

main .events .container img {
    max-width: 450px;
}

@media (max-width: 991px) {
    main .events .container img {
        display: none;
    }
}

main .events .container .info {
    flex: 1;
}

main .events .container .info .time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
}

main .events .container .info .time .date {
    width: 75px;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    text-align: center;
    transition: var(--main-transition)
}

main .events .container .info .time .date span {
    display: block;
    transition: var(--main-transition);
}

main .events .container .info .time .date span:first-child {
    font-size: 35px;
    color: var(--main-color);
    font-weight: bold;
    padding: 15px;
}

main .events .container .info .time .date span:last-child {
    text-transform: capitalize;
    font-size: 13px;
    padding: 8px 10px;
    border-top: 1px solid #d4d4d4;
}

main .events .container .info .time .date:hover,
main .events .container .info .time .date:hover span {
    border-color: var(--main-color);
}

main .events .container .info .description h2 {
    margin: 40px 0 0;
    text-align: center;
    font-size: 30px;
}

main .events .container .info .description p {
    line-height: 1.7;
    text-align: center;
    font-size: 19px;
    color: #777;
}

main .events .container .subscribe {
    width: 100%;
    margin-top: 50px;
}

main .events .container .subscribe form {
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: var(--section-background);
    border-radius: 50px;
    display: flex;
    gap: 20px;
}

@media (max-width: 767px) {
    main .events .container .subscribe form {
        max-width: 100%;
        padding: 20px;
        flex-direction: column;
        border-radius: 0;
    }
}

main .events .container .subscribe form input[type="email"] {
    padding: 20px;
    border-radius: 50px;
    border: none;
    flex: 1;
    caret-color: var(--main-color);
}

main .events .container .subscribe form input[type="email"]:focus {
    outline: none;
}

main .events .container .subscribe form input[type="email"]::placeholder {
    transition: opacity var(--main-transition);
    text-transform: capitalize;
}

main .events .container .subscribe form input[type="email"]:focus::placeholder {
    opacity: 0;
}

main .events .container .subscribe form input[type="submit"] {
    padding: 20px;
    border-radius: 50px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: var(--main-transition);
}

@media (max-width: 767px) {

    main .events .container .subscribe form input[type="email"],
    main .events .container .subscribe form input[type="submit"] {
        border-radius: 0;
    }
}

main .events .container .subscribe form input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}

/* End of events */

/* Start of Pricing */
main .pricing {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    position: relative;
}

main .pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

main .pricing .container .plan {
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
    background-color: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0/ 13%), 0 12px 20px 0 rgb(0 0 0 / 12%);
    text-align: center;
}

main .pricing .container .plan .label {
    position: absolute;
    background-color: var(--main-color);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px 35px 10px;
    text-transform: capitalize;
    writing-mode: vertical-lr;
    right: 20px;
    width: 40px;
}

main .pricing .container .plan .label::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border: 20px solid;
    border-color: transparent transparent white transparent;
}

main .pricing .container .plan::before,
main .pricing .container .plan::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    transition: var(--main-transition);
}

main .pricing .container .plan::before {
    top: 0;
    left: 0;
}

@media (min-width: 1200px) {
    main .pricing .container .plan.popular {
        top: -20px;
    }
}

main .pricing .container .plan::after {
    right: 0;
    bottom: 0;
}

main .pricing .container .plan:hover::before,
main .pricing .container .plan:hover::after {
    width: 100%;
}

main .pricing .container .plan .title {
    margin: 30px 0;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1;
}

main .pricing .container .plan img {
    width: 80px;
    margin-bottom: 30px;
}

main .pricing .container .plan .prices {
    margin-bottom: 20px;
}

main .pricing .container .plan .prices .amount {
    color: var(--main-color);
    font-size: 60px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

main .pricing .container .plan .prices .time {
    color: #777;
    text-transform: capitalize;
}

main .pricing .container .plan ul {
    text-align: left;
}

main .pricing .container .plan ul li {
    padding: 20px;
    border-top: 1px solid #eee;
}

main .pricing .container .plan ul li::before {
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color: var(--main-color);
}

main .pricing .container .plan a {
    display: block;
    width: fit-content;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 6px;
    margin: 30px auto;
    padding: 15px;
    font-weight: bold;
    transition: var(--main-transition);
}

main .pricing .container .plan a:hover {
    background-color: var(--main-color);
    border-color: var(--main-color-alt);
    color: white;
}

/* End of Pricing */

/* Start of Videos */

main .videos {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

main .videos .container .holder {
    display: flex;
    justify-content: center;
    background-color: var(--section-background);
    border: 1px solid #ddd;
}

@media (max-width: 991px) {
    main .videos .container .holder {
        flex-direction: column;
    }
}

main .videos .container .holder .list {
    min-width: 300px;
    background-color: white;
}

main .videos .container .holder .list div {
    background-color: #f4f4f4;
    font-weight: bold;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

main .videos .container .holder .list ul li {
    padding: 20px;
    text-align: left;
    border-top: 1px solid #ddd;
    cursor: pointer;
    transition: var(--main-transition);
}

main .videos .container .holder .list ul li:hover {
    background-color: #fafafa;
}

main .videos .container .holder .list ul li a {
    display: block;
    color: black;
    text-decoration: none;
}

main .videos .container .holder .list ul li:hover a {
    color: var(--main-color);
}


main .videos .container .holder .list ul li span {
    display: block;
    margin-top: 10px;
    color: #777;
}

main .videos .container .holder .preview {
    background-color: #e2e2e2;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
}

main .videos .container .holder .preview img {
    max-width: 100%;
}

main .videos .container .holder .preview p {
    padding: 20px;
    background-color: white;
    margin-top: 10px;
    text-transform: capitalize;
}

/* End of Videos */

/* Start of Stats */
main .stats {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-image: url(../Assets/stats.jpg);
    background-size: cover;
    position: relative;
    min-height: 300px;
}

main .stats::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 90%);
}

main .stats h2 {
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
    text-transform: uppercase;
}

main .stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

main .stats .container .stat {
    background-color: white;
    padding: 30px 15px;
    position: relative;
    opacity: 0.8;
    text-align: center;
    transition: var(--main-transition);
}

main .stats .container .stat:hover {
    opacity: 1;
}

main .stats .container .stat::before,
main .stats .container .stat::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    transition: 1s;
    background-color: var(--main-color);
}

main .stats .container .stat:hover::before,
main .stats .container .stat:hover::after {
    height: 100%;
}

main .stats .container .stat::before {
    top: 0;
    left: 0;
}

main .stats .container .stat::after {
    right: 0;
    bottom: 0;
}

main .stats .container .stat .number {
    font-size: 50px;
    font-weight: bold;
    margin: 10px auto;
    display: block;
}

main .stats .container .stat .unit {
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
    font-style: italic;
}

/* End of Stats */

/* Start of Discount */

main .discount {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

main .discount .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .discount .image {
    background-image: url(../Assets/discount-background1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    color: white;
    position: relative;
    z-index: 1;
    animation: change-bkgnd 10s linear infinite;
}

main .discount .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgb(23 125 224 / 97%);
}

@media (max-width: 991px) {
    main .discount .image {
        flex-basis: 100%;
    }
}

main .discount .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

@media (max-width: 991px) {
    main .discount .form {
        flex-basis: 100%;
    }
}

main .discount .form .input {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
    background-color: #f9f9f9;
    border: none;
    border-bottom: 1px solid #ccc;
    caret-color: var(--main-color);
}

main .discount .form textarea.input {
    resize: none;
    height: 200px;
}

main .discount .form .input:focus {
    outline: none;
}

main .discount .form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: var(--main-color);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: var(--main-transition);
}

main .discount .form input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}

main .discount.content {
    text-align: center;
    padding: 0 20px;
}

main .discount .content h2 {
    font-size: 40px;
    letter-spacing: -2;
}

main .discount .content p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 500px;
}

main .discount .content img {
    width: 300px;
    max-width: 100%;
}

/* End of Discount */

/* Start of Footer */

footer {
    background-color: #191919;
    padding: 70px 0 0;
}

@media (max-width: 767px) {
    footer {
        text-align: center;
    }
}

footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

footer .container .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
    text-transform: capitalize;
}

footer .container .box .social {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    footer .container .box .social {
        justify-content: center;
    }
}

footer .container .box .social li a {
    background-color: #313131;
    color: #9b9b9b;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
}

footer .container .box .social .facebook:hover {
    background-color: #1877f2;
}

footer .container .box .social .twitter:hover {
    background-color: #1da1f2;
}

footer .container .box .social .youtube:hover {
    background-color: #ff0000;
}

footer .container .box .text {
    line-height: 2;
    color: #b9b9b9;
}

footer .container .box .links li {
    padding: 15px 0;
    transition: var(--main-transition);
}

footer .container .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}

footer .container .box .links li:hover {
    padding-left: 10px;
}

footer .container .box .links li:hover a {
    color: white;
}

footer .container .box .links li a {
    color: #b9b9b9;
    transition: var(--main-transition);
}

footer .container .box .links li a::before {
    font-family: "Font Awesome 6 Free";
    content: "\f101";
    font-size: 12px;
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
    transition: var(--main-transition);
}

footer .container .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    footer .container .box .line {
        flex-direction: column;
    }
}

footer .container .box .line i {
    color: var(--main-color);
    margin-right: 15px;
    font-size: 25px;
}

@media (max-width: 767px) {
    footer .container .box .line i {
        margin-right: 0;
        margin-bottom: 15px;
    }
}

footer .container .box .line .info {
    line-height: 1.7;
    flex: 1;
}

footer .container .box.footer-gallery img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}

footer .copy {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}

/* End of Footer */

/* Animation section */

@keyframes move-left {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes move-right {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes up-down {

    0%,
    100% {
        translate: 0 0;
    }

    50% {
        translate: 0 10%;
    }

}

@keyframes bounce {

    0%,
    10%,
    20%,
    30%,
    50%,
    70%,
    80%,
    90%,
    100% {
        translate: 0 0;
    }

    40%,
    60% {
        translate: 0 -50%;
    }

}

@keyframes moveR {
    100% {
        translate: 10px 0;
    }
}

@keyframes flash {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

/* Animation section */